$black: #000;
$gray: #888;
$dark-gray: #444;
$light-gray: #aaa;
$white: #fff;
$blue: #4e96da;
$green: #4fbb4b;
$yellow: #e7dd4a;
$red: #c04747;

$primary: #b90000;
$primary_color: $white;
$secondary: #ff6943;
$secondary_color: $white;
$background: #fff;
$sidebar: #eee;

$success: #5ddb67;
$info: #66a4fc;
$warning: #fcff4f;
$danger: #e71f1f;
$danger_color: $white;

$text: #000;
$text-inverted: #fff;

.sidebar {
  background-color: $blue;
}