$black: #000;
$gray: #888;
$dark-gray: #444;
$light-gray: #aaa;
$white: #fff;
$blue: #4e96da;
$green: #4fbb4b;
$yellow: #e7dd4a;
$red: #c04747;

$primary: #793bec;
$primary_color: white;
$secondary: #e943ff;
$secondary_color: white;
$background: #fff;
$sidebar: #eee;

$text: #000;
$text-inverted: #fff;

.sidebar {
  background-color: $blue;
}