<h1>Credits</h1>

<div class="list-group">
  <div class="list-group-item">
    <h4>Carousing Results</h4>
    <p>Thanks to /u/Bellociraptor and /u/pbghin for creating the <a href="https://www.reddit.com/r/DnD/comments/3uunbt/the_bigger_badder_longer_uncut_d100_carousing/">d100 carousing table</a> I used for the most of the one participant results!</p>
  </div>
  <div class="list-group-item">
    <h4>Sarah</h4>
    <p>Thanks to my lovely wife for supporting my making this tool and for helping with the graphics side of things!</p>
  </div>
</div>

<p>My greatest thanks and appreciation to you all,</p>
<h5>Austin (/u/jeddai)</h5>