<div class="row">
  <h1 class="col-6">
    <span *ngIf="!editing">{{campaign?.name}}</span>
    <input class="form-control" [(ngModel)]="campaign.name" *ngIf="editing" minlength="1"/>
  </h1>
  <div class="col-6 btn-spacing">
    <a class="btn btn-warning float-right" href="javascript:void(0)" (click)="refresh()" *ngIf="editing">
      <i class="fal fa-fw fa-undo"></i>
      Refresh
    </a>
    <a class="btn btn-primary float-right" href="javascript:void(0)" (click)="edit()" *ngIf="!editing">
      <i class="fal fa-fw fa-pen"></i>
      Edit
    </a>
    <a class="btn btn-success float-right" href="javascript:void(0)" (click)="save()" *ngIf="editing">
      <i class="fal fa-fw fa-check"></i>
      Save
    </a>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <p *ngIf="!editing">{{campaign?.description}}</p>
    <input class="form-control" [(ngModel)]="campaign.description" *ngIf="editing"/>
  </div>
</div>

<hr/>

<app-notes name="notes" [(ngModel)]="campaign.notes" [editing]="editing"></app-notes>