@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@import '~prismjs/themes/prism.css';

@import './app/_themes/light.theme.scss';
@import './app/_themes/dark.theme.scss';
@import '~bootstrap/scss/bootstrap';

$font-stack: 'Open Sans', sans-serif;

html {
  height: 100%;
}

body {
  font: 100% $font-stack;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

textarea.mono {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.center {
  text-align: center;
  vertical-align: middle;
}
