@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@import '~bootstrap/dist/css/bootstrap.min.css';

@import './app/_themes/light.theme.scss';

$font-stack: 'Open Sans', sans-serif;

html {
  height: 100%;
}

body {
  font: 100% $font-stack;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
  color: $primary_color !important;
}

.primary {
  color: $primary !important;
}

.btn-secondary {
  background-color: $secondary !important;
  border-color: $secondary !important;
  color: $secondary_color !important;
}

.secondary {
  color: $secondary !important;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.btn-danger {
  background-color: $danger !important;
  border-color: $danger !important;
  color: $danger_color !important;
}

.primary {
  color: $danger !important;
}