#editor {
  background-color: #f5f5f5;
  outline: none;
  resize: none;
  overflow: auto;
  width: 950px;
  height: 650px;
  border-color: rgba(0,0,0,0);
  border-radius: 10px;
}

#autocomplete {
  position: relative;
}